
.wrapper {
  display: flex;
  justify-content: center;
  align-items: baseline;
   margin-top: 95px;
}


.equal {
  font-size: 30px;
  font-weight: 500;
  margin-right: 20px;
  margin-left: 20px;
  color: #161C54;
}